# Web3Auth Configuration
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=BD7Y19ePeIm9VJS-83sl8JsG_CTU0vHzt9zc240Py-6irvQQi8mMcJiwP7mWkH__07fmIIewBmFwWsTlQJbO06I
NEXT_PUBLIC_WEB3AUTH_NETWORK=testnet # or mainnet

# Blockchain Configuration
NEXT_PUBLIC_DAO_CONTRACT_ADDRESS=0x9b47703A489107672A3C8D42Be787145cC86fE96
NEXT_PUBLIC_DAO_TOKEN_ADDRESS=0x55f87BC7B7Ee6265652B3d9f07734419a58C9eb8
NEXT_PUBLIC_CHAIN_ID=0x13474 # Akave Testnet
NEXT_PUBLIC_RPC_URL=https://n1-us.akave.ai/ext/bc/2JMWNmZbYvWcJRPPy1siaDBZaDGTDAaqXoY5UBKh4YrhNFzEce/rpc
